<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDir" value="${tempdir}/AdoReviewExport/logs" />

  <targets>
    <target xsi:type="File"
            name="file"
            fileName="${logDir}/app-${shortdate}.log"
            archiveEvery="Day"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="timestamp" layout="${date:format=o}" />
        <attribute name="level" layout="${level}" />
        <attribute name="logger" layout="${logger}" />

        <!-- PAT/Authorization masking (best-effort) -->
        <attribute name="message" layout="${replace:inner=${message}:regex=true:searchFor=(?i)Authorization[^\r\n]*:replaceWith=Authorization ***REDACTED***}" />
        <attribute name="exception" layout="${replace:inner=${exception:format=ToString}:regex=true:searchFor=(?i)Authorization[^\r\n]*:replaceWith=Authorization ***REDACTED***}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>
